.bg-primary
{
    background-color: #387539 !important;
}
.bg-primary-dark
{
    background-color: #1F4320 !important;
}
.text-primary
{
    color: #387539 !important;
}
.btn-primary
{
    background: #387539;
    text-align: center;
    display: block;
    color: #fff;
}
.btn-primary:hover
{
    background: #2b5e2c;
    border-color: #1b3d1b;
}
.section-title
{
    font-weight: 700;
    text-transform: uppercase;
    color: #387539;
}
p
{
    font-size: 16px;
}
a{
    text-decoration: none;
}
.swiper-slide img 
{
    max-width: 100vw;
}
.bg-section-2
{
    background-color: #F3F3F3;
}
.box-info .number
{
    font-size: 60px;
    margin: 0px;
}
.box-info{
    background: #fff;
    border-radius: 15px;
    box-shadow: 0px 4px 23px rgb(0 0 0 / 16%);
    transition: all .2s;
}
.box-info:hover 
{
    background-color: #387539;
    color: #fff !important;
}
.box-info:hover .number
{
    color: #fff !important;
}
.testimonial
{

    background-size:cover;
}
section.team .member-image
{
    border-bottom: 5px solid #387539;
}
section.course .course-item
{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-top: 4px solid #387539;
    transition: all .2s;
}
section.course .course-item:hover, section.course .course-item.active
{
    background-color: #387539 !important;
    border-color: #1F4320;
    color: #fff !important;
}
section.course .course-item:hover h6,  section.course .course-item.active h6
{
    color: #fff !important;
}
.form-control, .form-select
{
    width: 100%;
    border-radius: 10px;
    padding: 0.4375rem 1rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    background-color: transparent;
    color: #fff;
    border-radius: 0.375rem;
    border: 1px solid rgba(255, 255, 255, 0.4);
 }
 .form-reg .form-select {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right 1rem center;
}

 .form-select option
 {
    background: transparent;
 }
.form-reg .form-control:focus, .form-reg .form-select:focus
{
    border-color: #fff;
}
.form-contact
{
    border-radius: 20px;
}
.form-contact .form-control, .form-contact .form-select, .form-contact .form-control::placeholder
{
    color: #fff;
}
.body-page
{
    padding: 20px 0px;
}
.card-body
{
    padding: 10px;
}
.swiper-button-primary
{
    color: #fff;
    background-color: #387539;
}
.btn-outline
{
    border-color: #fff;
    background: transparent;
    color: #fff;
}
#bg-course
{
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    background-size: cover;
}
.form-select option{
    background: #1f4320;
    color: #fff;
}
a{
    transition: all 0.2s;
}
a:hover
{
    opacity: .8;
}