/* PC */
@media only screen and (min-width: 768px) {
    .form-contact
    {
        padding: 25px 60px;
    }
    .navigation-holder-1
    {
      position: absolute;
      top: 0px;
      right: 0px;
      width: 100px;
    }
    .navigation-holder-1 .swiper-button-prev
    {
      left:auto; 
    } 
    .navigation-holder-1 .swiper-button-next.swiper-button-position-3
    {
      right: 0px;
    }
  }

/* Mobile */
@media only screen and (max-width: 768px) {
    .form-contact
    {
        padding: 25px;
    }
    .box-info .number
    {
      font-size: 30px;
    }
    .box-info
    {
      margin-bottom: 10px;
      
    }
    .background-image
    {
      height: 300px !important;
      margin: 10px 0px;
    }
    .course-slide
    {
      margin-top: 20px;
      height: 500px !important;
    }
    .py-60
    {
      padding-top: 30px !important;
      padding-bottom: 30px !important;
    }
    .px-70
    {
      padding-left: 35px !important; 
      padding-right: 35px !important;
    }
    iframe
    {
      max-width: 100%;
      height: 250px;
    }
  }